body {margin:0;
overflow-x: hidden ;}

/*************  SHOIPPING-CART  *************/

  /* contenedor de prueba para productos a comprar*/

.boxproduct { display: flex;
            flex-wrap: wrap;
             }


        /* boton de limpiar carrito */
.buttonclear {  height: 25px;
                  width: 150px;
                  margin: 5px;
                  background-color: #319FA5;
                  color: white;
                  border: none;
                  border-radius: .5rem;
                  box-shadow: 2px 2px 2px black;
                  padding: 5px;
                  text-transform: uppercase;
                 
            }
            
              /* producto a comprar de prueba */
            .product { padding:1rem ;
                        background-color: rgb(64, 107, 121);
                        color: white;
                        height: 200px;
                        width: 180px;
                        border: solid 1px red ;
                        border: solid 1px #319FA5; ;
                        margin: 10px;
            
            
                  }
            
            /* como se ve la  tarjeta de prueba dentro del carrito */
            .productCart { padding:1rem ;
                  
                  background-color: rgb(64, 107, 121);
                  color: white;
                  height: 150px;
                  width: 110px;
                  border: solid 1px red ;
                  margin: 10px;}


     /*carrito desplegable */

         .dropdown {
            position: relative;
            display: inline-block;
           
            
       
        }

        .cartImage { width: 4rem;
            cursor: pointer;
            
        }

        /* Estilos para el contenido desplegable */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;   
            width: 400px;
            box-shadow: 4px 8px 16px #319FA5;;
            z-index: 1;
          
            
        }
        

        /* Mostrar el menú desplegable cuando se pasa el ratón sobre el botón */
        .dropdown:hover .dropdown-content {
            display:block;
        }

        .cartAcumulador { position: relative;
                        width: 20px;
                  background-color: red;
                  border-radius: 20px;
                  text-align: center
                  
      ;}

      .productContainer {display: flex;
            flex-wrap: wrap;
            justify-content: center;
           
      
           
    }
    .acumuladorContainer {display: flex;
justify-content: center;}
/*-----------------------------------------------------*/

/* Header*/
.barra-promo {background-color: #6E6E6E;
      padding-left:1rem;
      padding-right:1rem;
      text-align: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: white;
      display: flex;
      flex-direction: row;
    
}

.Navbar {padding-top: 1rem;  
padding-left:1rem ;
background-color: #EAEAEA;
padding-bottom: 1rem;
padding-right: 1rem;
display:flex;
align-items: center;
justify-content: space-between;
   
}

@media only screen and (max-width:770px)
 {.Navbar {
      justify-content: unset;
      align-items: unset;
      flex-direction:column;
 }
      
}

.Buscador {border-width:2px;
border-radius:15px;
border-style: solid;
border-color: #6E6E6E;
width: 200px;
height: 30px;
display:flex;
align-items: center;
padding-right:8px ;
padding-left: 8px;}

.Barrabusqueda {border:none;
background-color:transparent;}

.Menu {background-color:#319FA5;
display: flex;
padding-left: 2rem ;
padding-top:0.5rem ;
padding-bottom:0.5rem ;}

.SideBarMenu {
      display: flex;
      flex-direction: column;
      padding-top:1rem ;
     }
.SideBarMenu a{
      margin-bottom: 1rem;
      font-size: 20px;
}
      

.link-menu {color: white;
padding-right: 1rem;
text-decoration: none ;
font-weight: 400;}

.menuMobile {display: flex;
align-items: center;
justify-content: space-between;
}

@media only screen and (max-width:770px)
 {.imagenLogo{align-self: center;}
      
}
.carritoOscuro {
      margin-left: 0.5rem;
}
.SideBar {
      width: 72vw;
      height: 93vh;
      background-color: #319fa5f5;
      position: absolute;
      padding-left:1rem;
      padding-top:3rem;

}
.MenuHambuerguesaSideBar {
      margin-top: 1.5rem;
      margin-left: auto;
      margin-right: auto;
}
.carritoSideBar {
      margin-left: 0.7rem;
    
}


/*******carousel*******/
        
    
    .contenedor{
      width: 24rem;
      display: flex;
      flex-direction: column;
      justify-items: center;
      margin-left: 30rem;
      margin-bottom: 8rem;
      
    }

    .contenedor > img {height: 29rem;
                        object-fit: contain;
              }
