

/*************  SHOIPPING-CART  *************/

.box { 
      padding: 1rem ;
      margin: 1rem;
      background-color: lightcoral ;
      display: flex;
      flex-wrap: wrap;
}

.boxproduct { display: flex;
             background-color: aquamarine;}



.product { padding:1rem ;
            background-color: rgb(64, 107, 121);
            color: white;
            height: 200px;
            width: 180px;
            border: solid 1px red ;
            margin: 10px;
            


}

.cart-item { padding:1rem ;
              background-color:rgb(134, 85, 85);
              color:white ;
              border: solid 2px black;
              margin: 10px;
              height: 200px;
            width: 180px;

}