body {margin:0;}

/*************  SHOIPPING-CART  *************/

.box { 
      padding: 1rem ;
      margin: 1rem;
      background-color: lightcoral ;
      display: flex;
      flex-wrap: wrap;
}

.boxproduct { display: flex;
             background-color: aquamarine;}



.product { padding:1rem ;
            background-color: rgb(64, 107, 121);
            color: white;
            height: 200px;
            width: 180px;
            border: solid 1px red ;
            margin: 10px;
            


}

.cart-item { padding:1rem ;
              background-color:rgb(134, 85, 85);
              color:white ;
              border: solid 2px black;
              margin: 10px;
              height: 200px;
            width: 180px;

}
/* Header*/
.barra-promo {background-color: #6E6E6E;
      padding-left:1rem;
      padding-right:1rem;
      text-align: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: white;
      display: flex;
      flex-direction: row;
    
}

.Navbar {padding-top: 1rem;
padding-left:1rem ;
background-color: #EAEAEA;
padding-bottom: 1rem;
padding-right: 1rem;
display:flex;
align-items: center;
justify-content: space-between;
   
}

@media only screen and (max-width:770px)
 {.Navbar {
      justify-content: unset;
      align-items: unset;
      flex-direction:column;
 }
      
}

.Buscador {border-width:2px;
border-radius:15px;
border-style: solid;
border-color: #6E6E6E;
width: 200px;
height: 30px;
display:flex;
align-items: center;
padding-right:8px ;
padding-left: 8px;}

.Barrabusqueda {border:none;
background-color:transparent;}

.Menu {background-color:#319FA5;
display: flex;
padding-left: 2rem ;
padding-top:0.5rem ;
padding-bottom:0.5rem ;}

.SideBarMenu {
      display: flex;
      flex-direction: column;
      padding-top:1rem ;
     }
.SideBarMenu a{
      margin-bottom: 1rem;
      font-size: 20px;
}
      

.link-menu {color: white;
padding-right: 1rem;
text-decoration: none ;
font-weight: 400;}

.menuMobile {display: flex;
align-items: center;
justify-content: space-between;
}

@media only screen and (max-width:770px)
 {.imagenLogo{align-self: center;}
      
}
.carritoOscuro {
      margin-left: 0.5rem;
}
.SideBar {
      width: 72vw;
      height: 93vh;
      background-color: #319fa5f5;
      position: absolute;
      padding-left:1rem;
      padding-top:3rem;

}
.MenuHambuerguesaSideBar {
      margin-top: 1.5rem;
      margin-left: auto;
      margin-right: auto;
}
.carritoSideBar {
      margin-left: 0.7rem;
    
}

