body {margin:0;}

/*************  SHOIPPING-CART  *************/

  /* contenedor de prueba para productos a comprar*/

  .boxproduct { display: flex;
      flex-wrap: wrap;
       }


  /* boton de limpiar carrito */
.buttonclear {  height: 1.56rem;
            width: 9.37rem;
            margin: 15px;
            background-color: #319FA5;
            color: white;
            border: none;
            border-radius: .5rem;
            box-shadow: 2px 2px 2px black;
            padding: 4px;
         
           
      }
      
        /* producto a comprar de prueba */
      .product { padding:1rem ;
                  background-color: rgb(64, 107, 121);
                  color: white;
                  height: 12.5rem;
                  width: 11.25rem;
                  border: solid 1px red ;
                  border: solid 1px #319FA5; ;
                  margin: 10px;
         }
    
/***   carrito desplegable   ***/

.dropContainerGeneral {position: relative;
      right: 1rem;
bottom : 95.5rem;
 }

.dropContainer{ display: flex;
     justify-content:flex-end;
    
}

.dropdown {
      display: 
       inline-block ;
    
       
    

  }

  .cartImage { width: 3.25rem;
      cursor: pointer;
      position:relative;

    
      
  }

  /* Estilos para el contenido desplegable */
  .dropdown-content {
      display: none;
      position: absolute;
      margin-left: -35.62rem; 
      border-radius: 0.94rem;
      background-color:#eaeaea;   
      width: 38rem;
      box-shadow: 2px 8px 16px #319FA5;;
      z-index: 1;
      
    
      
  }
  

  /* Mostrar el menú desplegable cuando se pasa el cursor sobre el botón */
  .dropdown:hover .dropdown-content {
      display:block;
    
  }
 


  .cartAcumulador { position: relative;
                  left: 1rem;
                  width: 1.25rem;
                  height: 1.37rem;
            background-color: red;
            font-size: medium;
            color: white;
            border-radius: 1.25rem;
            text-align: center;
            z-index: 1;
            
;}

.productContainer {display: flex;
      flex-wrap: wrap;
      justify-content: center;
     

     
}
.acumuladorContainer {display: flex;
justify-content: center;
margin: 15px}

.carritOscuro {margin-left: 0.62rem;}

/* Estilos en modo tablet */
@media only screen and (min-width: 36.25rem) and (max-width:51.8rem) {
      .dropContainerGeneral {position: relative;
            right: 1rem;
      bottom : 131.4rem;
}
.dropdown-content { width: 30rem;
      margin-left: -27.5rem; 
}
}
/*Estilos en modo mobile*/
@media only screen and (max-width: 36.25rem) {
      .dropContainerGeneral {position: relative;
            right: 0rem;
      bottom : 109rem;
}
.productContainer {margin-left: 5rem;
                   margin-right: 5rem;}

.dropdown-content { width: 22rem;
      margin-left: -20rem; 
;}

}


/*************  VIDEO  *************/





/*************  CARDS INFO  *************/
@media only screen and (max-width:770px) {
      .cards-container-info {
        flex-direction: column;
        align-items: center; 
      }
    }
 
    


/* Header*/
.barra-promo {background-color: #6E6E6E;
      padding-left:1rem;
      padding-right:1rem;
      text-align: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: white;
      display: flex;
      flex-direction: row;
    
}

.Navbar {padding-top: 1rem;
padding-left:1rem ;
background-color: #EAEAEA;
padding-bottom: 1rem;
padding-right: 1rem;
display:flex;
align-items: center;
justify-content: space-between;
   
}

@media only screen and (max-width:770px)
 {.Navbar {
      justify-content: unset;
      align-items: unset;
      flex-direction:column;
 }
      
}

.Buscador {border-width:2px;
border-radius:15px;
border-style: solid;
border-color: #6E6E6E;
width: 200px;
height: 30px;
display:flex;
align-items: center;
padding-right:8px ;
padding-left: 8px;}

.Barrabusqueda {border:none;
background-color:transparent;}

.Menu {background-color:#319FA5;
display: flex;
padding-left: 2rem ;
padding-top:0.5rem ;
padding-bottom:0.5rem ;}

.SideBarMenu {
      display: flex;
      flex-direction: column;
      padding-top:1rem ;
     }
.SideBarMenu a{
      margin-bottom: 1rem;
      font-size: 20px;
}
      

.link-menu {color: white;
padding-right: 1rem;
text-decoration: none ;
font-weight: 400;}

.menuMobile {display: flex;
align-items: center;
justify-content: space-between;
}

@media only screen and (max-width:770px)
 {.imagenLogo{align-self: center;}
      
}
.carritoOscuro {
      margin-left: 0.5rem;
}
.SideBar {
      width: 72vw;
      height: 93vh;
      background-color: #319fa5f5;
      position: absolute;
      padding-left:1rem;
      padding-top:3rem;

}
.MenuHambuerguesaSideBar {
      margin-top: 1.5rem;
      margin-left: auto;
      margin-right: auto;
}
.carritoSideBar {
      margin-left: 0.7rem;
    
}


/*******carousel*******/
        


.estiloImagen {
  height: 31rem;
  margin: auto;
}    
.contenedor{
  width: 24rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: auto;
      
}    


.estiloTitulo {
  padding-top: 130px;
}
